[Desktop Entry]
Encoding=UTF-8
Name=Examination
Comment=Examination P2P Cryptocurrency
Comment[fr]=Examination, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Examination, eşten eşe kriptografik sanal para birimi
Exec=examination-qt %u
Terminal=false
Type=Application
Icon=examination128
MimeType=x-scheme-handler/examination;
Categories=Office;Finance;
